body {
    background-image: url(img/imagen1.jpg);
    background-color: aliceblue;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width:600px){
    body{
        height: 100%;
    }
}
#contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#principal{
    width: 70%;
}
@media (max-width:600px){
   #principal{
        width: 100%;
   } 
}
#sidebar{
    width: 30%;
}
@media (max-width:600px){
    #sidebar{
        width: 100%;
    }
}
.redondeado{
   
    font-size:xx-large;
    color: rgb(23, 18, 18);
    font-family: fantasy;
    width: 45%;
    height: 400px;
    text-align: center;
}
#texto::placeholder{
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(23, 18, 18);
    font-size:xx-large;
    font-family: fantasy;

}
.receptor{
    border-radius: 5px;
    background-position: center;
    width: 100%;
    height: 400px;
    font-size:xx-large;
    font-family: fantasy;
    text-align: center;
}
#texttarea::placeholder{
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size:x-large;
    font-family: fantasy;
}
@media (max-width:600px){
    .receptor{

        height: 150px;
    }
}

#botones{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.diseñoEncr{
    display: flex;
    align-items: center;
}

#encriptar{
    background-image: url(img/imagen1.jpg);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 15px 32px;
    border: none;
    cursor: pointer;
}
.diseñoDese{
    display: flex;
    align-items: center;
    padding: 20px;
}
@media (max-width: 600px){
    .diseñoDese{
        padding: 10px;
    } 
}
#desencriptar{
  
    background-image: url(img/imagen1.jpg);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 15px 32px;
    border: none;
    cursor: pointer;
}
@media (max-width: 600px){
    #desencriptar{
        text-align: 10px 30px;
    }
}
#copiar {
    border-radius: 5px;
    background-image: url(img/imagen1.jpg);
    color: white;
    font-family:serif;
    padding: 5px 40px;
}
#creditos{
    text-align: center;
    font-style: italic;
    background-color: aliceblue;
    font-weight:bold
}